In [13]:
# Main module 

import tui
import retrieve        
import os    
import analyse
import plot




def run():
    file_path = input("Enter the file path: ")
    running=True
    while running:
        
        selection = tui.main_menu()
        
        
        if  selection== 'first':
            
            #ask the user to enter the file path.
            data =[]
            #use os to check file path , call the function load data in the process module if the path exist.
            if os.path.exists(file_path):
                data=retrieve.load_data_csv(file_path)
                tui.completed()
            running=True
            while running:
                menu_selection=retrieve.retrieve_menu()
                if  menu_selection=='1':
                    retrieve.listing_by_id(data)
                elif menu_selection=='2':
                    retrieve.listing_for_specified_location(data)
                elif menu_selection =='3': 
                    retrieve.listing_by_property_type(data)
                elif menu_selection=='4':
                    retrieve.listing_by_location(data)
                elif menu_selection == 'exit':
                    
                    
                    break
                else:
                    tui.error()
                
                
            else: 
                print('envalid file path')
            
           
                    
        elif selection=='second':
            
            data=analyse.load_data_pandas(file_path)
            
            running=True
            while running:
                menu_selection=analyse.analyse_menu()
                if menu_selection=='1':
                    analyse.popular_amenities(data)
                elif menu_selection=='2':
                    analyse.average_price_location(data)
                elif menu_selection=='3':
                    analyse.average_review_location(data)
                elif menu_selection=='4':
                    analyse.average_price_host_is_superhost(data)
                elif menu_selection=='exit':
                
                    
                    break
                else:
                    tui.error()
                    
        elif selection=='third':        
            data=analyse.load_data_pandas(file_path)
            running=True
            while running:
                menu_selection=plot.plot_menu()
                if menu_selection=='1':
                    plot.number_bedrooms(data)
                elif menu_selection=='2':
                    plot.number_listing(data)
                elif menu_selection=='3':
                    plot.relation_accommodates_price(data)
                elif menu_selection=='4':
                    plot.prices_specified_years(data)
                elif menu_selection=='5':
                    plot.host_response(data)
                elif menu_selection=='exit':
                
                    break
                else:
                    tui.error()
                    
        elif selection=='exit':  
            
            break
        else:
            tui.error()
            
         
   
            

if __name__== "__main__":
    

    run()

Enter the file path: Airbnb_UK_2022.csv
select which menu whoud you like:

    [first]:Retrieve data.


    [second]:Analyse data.


    [third]:visualise data.


    [fourth]:Exit the programme.

your selection: first
###########################################################################
Operation started: Reading data from file path...

Operation completed.
###########################################################################
select which menu whoud you like:

    [1]   :List name of listing, host name, description, host location, host since by host id.


    [2]   :List host name, property type, price, minimum_nights and maximum_nights by location.


    [3]   :List room type, accommodates, bathrooms, bedroom and beds for a specified property type.


    [4]   :List review scores of cleanliness, checkin, communication and rating by location.


    [exit]:Exit the programme.

your selection: 4
###########################################################################
Operation started: listing review scores of cleanliness, checkin, communication and rating : ...

enter your location:Kensington
review scores cleanliness:4.88
review scores communication:4.87
review scores checkin:4.82
review scores rating:4.79
Operation completed.
###########################################################################
select which menu whoud you like:

    [1]   :List name of listing, host name, description, host location, host since by host id.


    [2]   :List host name, property type, price, minimum_nights and maximum_nights by location.


    [3]   :List room type, accommodates, bathrooms, bedroom and beds for a specified property type.


    [4]   :List review scores of cleanliness, checkin, communication and rating by location.


    [exit]:Exit the programme.

your selection: exit
select which menu whoud you like:

    [first]:Retrieve data.


    [second]:Analyse data.


    [third]:visualise data.


    [fourth]:Exit the programme.

your selection: second
select which menu whoud you like:

    [1]   :The most popular amenities that Airbnb guests are looking for.


    [2]   :The average price of stay in each location.


    [3]   :The average review scores rating for each location.


    [4]   :The average price for host is superhost and host not superhost.


    [5]   :Exit the programme.

your selection: 4
###########################################################################
Operation started: display average price for host is superhost:...

the average price of host is not super host and host is super_host is:[154.40236686 128.08062771]
the number of host is not superhost is [6591]
the number of host is superhost is [1848]
Operation completed.
###########################################################################
select which menu whoud you like:

    [1]   :The most popular amenities that Airbnb guests are looking for.


    [2]   :The average price of stay in each location.


    [3]   :The average review scores rating for each location.


    [4]   :The average price for host is superhost and host not superhost.


    [5]   :Exit the programme.

your selection: 5
Invalid Selection!
select which menu whoud you like:

    [1]   :The most popular amenities that Airbnb guests are looking for.


    [2]   :The average price of stay in each location.


    [3]   :The average review scores rating for each location.


    [4]   :The average price for host is superhost and host not superhost.


    [5]   :Exit the programme.

your selection: exit
select which menu whoud you like:

    [first]:Retrieve data.


    [second]:Analyse data.


    [third]:visualise data.


    [fourth]:Exit the programme.

your selection: second
select which menu whoud you like:

    [1]   :The most popular amenities that Airbnb guests are looking for.


    [2]   :The average price of stay in each location.


    [3]   :The average review scores rating for each location.


    [4]   :The average price for host is superhost and host not superhost.


    [5]   :Exit the programme.

your selection: exit
select which menu whoud you like:

    [first]:Retrieve data.


    [second]:Analyse data.


    [third]:visualise data.


    [fourth]:Exit the programme.

your selection: third
select which menu whoud you like:

    [1]   :The proportion of number of bedrooms of Airbnb listing using pie chart.


    [2]   :The number of listings for each room type using bar chart.


    [3]   :The relationship between accommodates and price using scatter plot rating.


    [4]   :Subplots of airbnb prices from 2019 -2022.


    [4]   : .


    [4]   :Exit the programme.


your selection: exit
select which menu whoud you like:

    [first]:Retrieve data.


    [second]:Analyse data.


    [third]:visualise data.


    [fourth]:Exit the programme.

your selection: fourth
Invalid Selection!
select which menu whoud you like:

    [first]:Retrieve data.


    [second]:Analyse data.


    [third]:visualise data.


    [fourth]:Exit the programme.

your selection: exit

In [15]:
import pandas as pd
data=pd.read_csv('Airbnb_UK_2022.csv')
data.head(5)

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [16]:
data['host_since'][0]

'05-12-09'

In [17]:
int(data['host_since'][0][-2:])

9

In [24]:
data['year']=data['host_since'].apply(lambda x: x[-2]).astype('int')

In [26]:
new_data=data[data['year'].between(19,22)]

In [28]:
new_data.head()

Empty DataFrame
Columns: [host_id, name, description, host_name, host_since, host_location, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_total_listings_count, host_verifications, host_identity_verified, property_type, room_type, accommodates, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, instant_bookable, number_of_reviews, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, year]
Index: []

[0 rows x 35 columns]

In [29]:
x=new_data['year']
x

Series([], Name: year, dtype: int32)