In [34]:
#analyse module

import tui
import pandas as pd 

#read csv file using pandas.
def load_data_pandas(file_path):
    file_path="Airbnb_UK_2022.csv"
    data=pd.read_csv(file_path)
    return data.head()

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [ ]:
#This function display the menu of analyse selection.
def analyse_menu():
    print(f"""select which menu whoud you like:
    
    {"[1]":<6}:The most popular amenities that Airbnb guests are looking for.\n 
    
    {"[2]":<6}:The average price of stay in each location.\n
    
    {"[3]":<6}:The average review scores rating for each location.\n
    
    {"[4]":<6}:The average price for host is superhost and host not superhost.\n 
    
    {"[5]":<6}:Exit the programme.                
    """)   
      
    menu_selection=input('your selection: ')
    return menu_selection.strip().lower()

Identifying the most popular amenities that Airbnb guests are looking for

In [5]:
#this function display amenities in a list   
def popular_amenities(data):
    tui.started('display the  most popular amenities:')
    popular_amenities=data['amenities'].mode()
    print(f'the most popular amenities are:{popular_amenities.values}')
    tui.completed()

Analyse the average price of stay in each location

In [9]:
#this function display the average price of stay in each location.      
def average_price_location(data):
    tui.started('display average price by location:')
    average_stay_location=data.groupby(['host_location'])['price'].mean()
    print(f'The average stay in each location:\n{average_stay_location}')         
    tui.completed()

Analyse the average of review score rating for each location

In [11]:
#this function display the average review scores rating for each location.      
def average_review_location(data):
    tui.started('display the average review scores rating:')
    average_review_location=data.groupby(['host_location'])['review_scores_location'].mean()
    print(f'The average review rate score for each location is:\n{average_review_location}')
    tui.completed()

Analyse the average price for host is superhost and host not superhost

In [16]:
def average_price_host_is_superhost(data):
    tui.started('display average price for host is superhost:')
    average_price=data.groupby(['host_is_superhost'])['price'].mean()
    #How many not super_host (the count)
    not_superhost_count=data.loc[data.host_is_superhost ==False,['host_is_superhost']].count()
    #How many super_host (the count)
    superhost_count=data.loc[data.host_is_superhost ==True,['host_is_superhost']].count()
    print(f"the average price of host is not super host and host is super_host is:{average_price.values}") 
    print(f"the number of host is not superhost is {not_superhost_count.values}")
    print(f"the number of host is superhost is {superhost_count.values}")
    tui.completed()