In [1]:
# Main module 

import tui
import process        
import os
            

def run():
    #ask the user to enter the file path.
    file_path = input("Enter the file path: ")
    
    data =[]
    #use os to check file path , call the function load data in the process module if the path exist.
    if os.path.exists(file_path):
        data=process.load_data(file_path)
        
    else: 
        print('envalid file path')
    tui.completed()
    #while the user selecting one of the options the loop keeps looping and when the user select exit stop the programme.
    running=True

    while running:
        
        menu_selection = tui.menu()
        
        
        if  menu_selection=='1':
            process.listing_by_id(data)
        elif menu_selection=='2':
            process.listing_for_specified_location(data)
        elif menu_selection =='3': 
            process.listing_by_property_type(data)
        elif menu_selection=='4':
            process.listing_by_location(data)
        elif menu_selection == 'exit':
            running=False
            break
        
        else:
        
            tui.error()
            
            

if __name__== "__main__":
    

    
    run()

Enter the file path: Airbnb_UK_2022.csv
###########################################################################
Operation started: Reading data from file path...

Operation completed.
###########################################################################
select which menu whoud you like:

    [1]   :List name of listing, host name, description, host location, host since by host id.


    [2]   :List host name, property type, price, minimum_nights and maximum_nights by location.


    [3]   :List room type, accommodates, bathrooms, bedroom and beds for a specified property type.


    [4]   :List review scores of cleanliness, checkin, communication and rating by location.


    [exit]:Exit the programme.

your selection: exit

Load the data from CSV file using pandas

In [2]:
import pandas as pd 
#read csv file using pandas.
data=pd.read_csv("Airbnb_UK_2022.csv", header=0)
data.head()

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

Data exploration

In [ ]:
#display columns names.
data.columns

In [ ]:
 #discover how many columns and rows the data has using shape method.
data.shape

Identifying the most popular amenities that Airbnb guests are looking for

In [5]:
#First print amenities column to have an idea about the column.
data['amenities']

0       ["Fire extinguisher", "Hair dryer", "Hangers",...
1       ["Extra pillows and blankets", "First aid kit"...
2       ["Essentials", "Wifi", "Hot water", "Washer", ...
3       ["Extra pillows and blankets", "Record player"...
4       ["Oven", "Fire extinguisher", "Hair dryer", "D...
                              ...
8434    ["Essentials", "First aid kit", "Hot water", "...
8435    ["First aid kit", "Cleaning before checkout", ...
8436    ["Oven", "Hair dryer", "Private entrance", "Ha...
8437    ["First aid kit", "Oven", "Fire extinguisher",...
8438    ["Extra pillows and blankets", "First aid kit"...
Name: amenities, Length: 8439, dtype: object

In [ ]:
#Use describe on amenities column to find popular amenities (the top).
data['amenities'].describe()

In [6]:
#Use mode function to get just the popular amenities.
#the most popular amenities are the ones repeated most which is the mode .
popular_amenities=data['amenities'].mode()
popular_amenities

0    ["Washer", "Long term stays allowed", "TV", "S...
Name: amenities, dtype: object

In [3]:
#Use display_amenities function from the tui module to display popular amenities in a list.
tui.display_popular_amenities(data)

the most popular amenities are:['["Washer", "Long term stays allowed", "TV", "Smoke alarm", "Carbon monoxide alarm", "Kitchen", "Wifi"]']

Analyse the Average price of stay in each location

In [4]:
#First display price and host location to get an idea about the columns.
price_location=data[['price', 'host_location']]
price_location

      price  host_location
0        75     Kensington
1       204         London
2       297         London
3       195         London
4        30         London
...     ...            ...
8434    150         London
8435    120         London
8436     80  Thames Ditton
8437    201         London
8438    246         London

[8439 rows x 2 columns]

In [5]:
data.host_location.nunique()

309

In [7]:
data.host_location.value_counts()

London                  7704
Twickenham                27
Richmond                  25
Kingston upon Thames      23
Croydon                   14
                        ...
Loughton                   1
Tilton on the Hill         1
Lindfield                  1
Begbroke                   1
Rye                        1
Name: host_location, Length: 309, dtype: int64

In [12]:
#Groupeby host location and calculate the average price for each location.
Average_price_by_location=data.groupby(['host_location'])['price'].mean().
#Display average price for each location using the function display_average_price from the tui module.
tui.display_average_price_location(data)

The average stay in each location:
host_location
Aberdeen          152.333333
Aberystwyth        64.000000
Addington         124.000000
Ascot             300.000000
Ashford            65.375000
                     ...
Wolverton          87.000000
Woodford           65.333333
Worcester Park     37.000000
Wraysbury          76.000000
York              250.000000
Name: price, Length: 309, dtype: float64

In [20]:
#sort the values from to biggest to smallest.
sorted_price=data.groupby(['host_location']).mean()['price'].sort_values(ascending=False)
sorted_price

host_location
Shoreham-by-Sea        2357.50
Rye                     850.00
Horsham                 800.00
Buscot                  700.00
Butterleigh             638.00
                        ...
Borehamwood              35.00
Mitcham                  33.75
Crediton                 32.00
Staines-upon-Thames      31.00
Rainham                  30.00
Name: price, Length: 309, dtype: float64

Analyse the average review scores rating for each location

In [ ]:
#display host location and review scores values to understand the columns.
data[['host_location', 'review_scores_value']]

In [9]:
#calculate the count of the review scores value
data.review_scores_value.value_counts()

5.00    2080
4.67     306
4.50     295
4.75     267
4.80     263
        ...
3.20       1
3.93       1
3.13       1
3.78       1
3.83       1
Name: review_scores_value, Length: 125, dtype: int64

In [11]:
#Groupby host location and calculate the review scores value for each location.
average_review_score=data.groupby(['host_location'])['review_scores_value'].mean()
#Display the avearge review scores for each location using the function display_average_review_location from tui module.
tui.display_average_review_location(data)

The average review rate score for each location is:
host_location
Aberdeen          4.863333
Aberystwyth       4.550000
Addington         4.710000
Ascot             5.000000
Ashford           4.727500
                    ...
Wolverton         4.960000
Woodford          4.836667
Worcester Park    4.625000
Wraysbury         4.810000
York              5.000000
Name: review_scores_location, Length: 309, dtype: float64

Analyse the relation between super host and the price

In [21]:
sorted_score=data.groupby(['host_location']).mean()['review_scores_value'].sort_values(ascending=False)
sorted_score

host_location
Shrivenham             5.0000
Hordle                 5.0000
Purley                 5.0000
Hurst Green            5.0000
Salisbury              5.0000
                        ...
Newcastle Upon Tyne    3.9600
Great Chesterford      3.9000
Ilford                 3.7725
Birmingham             2.8200
Skewen                 2.0000
Name: review_scores_value, Length: 309, dtype: float64

In [ ]:
#display price and host is superhost column.
data[['host_is_superhost', 'price']]

In [ ]:
#display price and no superhost.
not_super_host=data.loc[data.host_is_superhost ==False,['price', 'host_is_superhost']]
not_super_host

In [ ]:
#display price and no superhost.
super_host=data.loc[data.host_is_superhost ==True,['price', 'host_is_superhost']]
super_host

In [ ]:
#How many not super_host (the count)
number_not_superhost=data.loc[data.host_is_superhost ==False,['host_is_superhost']].count()

In [ ]:
#How many super_host (the count)
number_superhost=data.loc[data.host_is_superhost ==True,['host_is_superhost']].count()

In [3]:
#get the average price of superhost and no superhost 
average_price=data.groupby(['host_is_superhost'])['price'].mean()
#display the average price for not superhost and superhost by calling a function in the tui module.
tui.display_average_price_host_is_superhost(data)

host_is_superhost
False    154.402367
True     128.080628
Name: price, dtype: float64